/* ------------------- fonts and text style */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.roboto {
    font-family: 'Roboto', sans-serif;
}
.apple {
    font-family: 'Homemade Apple', sans-serif;
}
/* ------------------- header */

/* ------------------- body */
.hero-1 {
    height: 100vh;
    width: 100%;
    background-image: url('img/green.jpg');
    background-attachment: fixed;
}

.hero-1-text {
    padding-top: 200px;
}

.slide-left {
  width:100%;
  overflow:hidden;
}
.slide-left h1 {
  animation: slide-left 2s;
  margin-left: 20%;
}

.slide-right h3 {
    animation: slide-right 2s;
    margin-left: 20%;
  }

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 20%;
    width: 100%;
  }
}

@keyframes slide-right {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 20%;
      width: 100%;
    }
  }

.about-row {
    background-color: rgb(220, 233, 205);
}

.hr-w {
    width: 30%;
}

.about-text {
    line-height: 1.8;
}

.about-col {
  padding: 20px;
}

.josefine-img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------- footer */
